<div id="ApptMap" style="height: 65%">
</div>

<div class="row">
  <div class="small-4 columns">
    <form>
      <fieldset>
        <legend>SEARCH</legend>
        <label>Street
          <input type="text" placeholder="Enter Here">
        </label>
      </fieldset>
    </form>
  </div>
  <div class="small-8 columns">
    <form>
      <fieldset>
        <legend>DATA</legend>
        <label>Street
          <input type="text" id="DATA" placeholder="Enter Here">
        </label>
      </fieldset>
  </div>
</div>
