<div id="googleMap" style="height: 65%">
</div>
<div class="row">
  <div class="small-4 columns">
    <form>
      <fieldset>
        <legend>SEARCH</legend>
        <label>Street
          <input type="text" placeholder="Enter Here">
        </label>
      </fieldset>
    </form>
  </div>
  <div class="small-8 columns">
    <form>
      <fieldset>
        <legend>DATA</legend>
        <label>Street
          <input type="text" placeholder="Enter Here">
        </label>
      </fieldset>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm7NgnT4npV8uqF4ojhgK7RXd8X2hOIYE&sensor=false"></script>
