<nav class="top-bar" style="margin-bottom: 1em" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">UIC Off Campus Housing</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">Options</a>
          <ul class="dropdown">
            <li><a href="/account">Account</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
