<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/bower_components/foundation/css/foundation.css" />
    <script src="public/bower_components/jquery/dist/jquery.js"></script>
    <script src="public/bower_components/modernizr/modernizr.js"></script>
    <script src="public/bower_components/underscore/underscore.js"></script>
    <script src="public/bower_components/backbone/backbone.js"></script>
    <script src="public/bower_components/handlebars/handlebars.runtime.js"></script>
    <script src="public/templates/templates.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm7NgnT4npV8uqF4ojhgK7RXd8X2hOIYE&sensor=false"></script>

    <script src="public/js/models/MapModel.js"></script>
    <script src="public/js/views/MapView.js"></script>
    <script src="public/js/models/ListingModel.js"></script>
    <script src="public/js/views/ListingView.js"></script>
    <script src="public/js/collections/ListingCollection.js"></script>
    <script src="public/js/models/SearchModel.js"></script>
    <script src="public/js/views/SearchView.js"></script>

    <script src="public/js/models/AccountModel.js"></script>
    <script src="public/js/views/AccountView.js"></script>
    <script src="public/js/views/LoginView.js"></script>
    <script src="public/js/views/AboutView.js"></script>
    <script src="public/js/views/HelpView.js"></script>
    <script src="public/js/app.js"></script>
  </head>
  <body>
  <nav class="top-bar" style="margin-bottom: 1em" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">UIC Off-Campus Housing</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">Menu</a>
          <ul class="dropdown">
            <li><a href="#search">Search</a></li>
            <li><a href="#create">Create</a></li>
            <li><a href="#account">Account</a></li>
            <li><a href="#help">Help</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <div id="app"></div>

  <div width="center">
    <ul class="breadcrumbs" style="margin-top: 1em">
      <li><a href="http://www.uic.edu">UIC HOME</a></li>
      <li><a href="http://www.housing.uic.edu/">UIC HOUSING</a></li>
      <li><a href="#help">HELP</a></li>
      <li><a href="http://foundation.zurb.com">BUILT WITH FOUNDATION</a></li>
    </ul>
  </div>
  <script src="public/bower_components/foundation/js/foundation.js"></script>
  <script src="public/bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
  <script>$(document).foundation()</script>
  </body>
</html>
