<div class="panel">
  <div class="row">
    <form class="small-12 large-4 columns">
      <fieldset>
        <legend>Select Listing Type</legend>
        <div class="row">
          <div class="large-12 columns">
            <label>I'm trying to:
              <select id="listType">
                <option value="1">lease a whole Appt</option>
                <option value="2">sub lease a room, for the long term (yearly)</option>
                <option value="3">sub lease a room, for the short term (a few months)</option>
                <option value="51">find a whole Appt</option>
                <option value="52">find a room in the long term (yearly)</option>
                <option value="53">find a room in the short term (a few months)</option>
              </select>
            </label>
            <span data-tooltip class="has-tip" title="A yearly commitment">Long term?</span><br>
            <span data-tooltip class="has-tip" title="1 to 3 months or more">Short term?</span><br>
          </div>
        </div>
      </fieldset>
    </form>
    <form class="small-12 large-8 columns">
      <fieldset>
        <legend>Select Criteria</legend>
        <div class="row">
          <div class="large-12 columns">
            <label>I'm trying to:
              <select>
                <option value="1">lease a whole Appt</option>
                <option value="2">sub lease a room, for the long term (yearly)</option>
                <option value="3">sub lease a room, for the short term (a few months)</option>
                <option value="51">find a whole Appt</option>
                <option value="52">find a room in the long term (yearly)</option>
                <option value="53">find a room in the short term (a few months)</option>
              </select>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>