<div class="row">
  <div class="small-4 large-4"></div>
  <div class="small-8 large-4 text-center">
    <ul class="button-group">
      {{#each buttons}}<li><a href="{{link}}" class="button">{{text}}</a></li>{{/each}}
    </ul>
  </div>
</div>
