<div class="row">
  <div class="panel">
    <div class="small-12 medium-12 large-12">
      <h3>Privacy Policy</h3>
      <p>
        <ul>
          <li>Here at Social Living at UIC, we use session based tracking to validate our users. That means that you and only you will have access to your account and listings. We will never share your information with other companies.</li>
          <li>We use your Facebook profile for two things: login credentials and your likes. This way, we will never jeopardize your passwords as they will be maintained by Facebook. Your likes will be attached to your listing. As this application is in a pre-release state, we will work on having you select your top five Facebook likes.</li>
          <li>Your profile picture will only be visible to you. This isn't entirely necessary for the function of the application, but we think that it provides a more unique user experience!</li>
          <li>At Social Living at UIC, your privacy is important to us and if you feel that our services do not meet your level of privacy, we would love to know how to enrich our service.</li>
          <li>Any questions can be sent to: {{contactEmail}}</li>
        </ul>
      </o>
    </div>
  </div>
</div>