{{{mapViewTemplate}}}

<div class="row">
  <div class="small-12 large-6 columns">
    <div class="panel">
      <div class="button">select me</div>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <div class="panel" id={{resultsID}}>
    results will go here
    </div>
  </div>
</div>